@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100%;
        margin: 0;
        overflow: hidden; /* Prevent default scrolling */
        font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@layer components {
    .text-shadow-sm {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    .text-shadow-lg {
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5),
                     0 2px 4px rgba(0, 0, 0, 0.5);
    }
    .text-outline {
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),
                     1px -1px 0 rgba(0, 0, 0, 0.5),
                    -1px 1px 0 rgba(0, 0, 0, 0.5),
                     1px 1px 0 rgba(0, 0, 0, 0.5);
    }

    /* Custom scrollbar styles */
    .custom-scrollbar {
        overflow-y: scroll;
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* For Firefox */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    .tooltip-content {
        z-index: 1000; /* Ensure this is higher than other elements like content */
        position: absolute; /* Necessary for z-index to take effect */
    }

    .sidebar {
        z-index: 10; /* Lower than tooltip to ensure tooltips are on top */
    }

    .content-wrapper {
        z-index: 1; /* Main content should be below tooltips */
    }
}